/* body styling begins */
body
{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Piazzolla', serif;
    letter-spacing: .5px;
}
/* body styling ends */

/* navbar styling begins */
nav#mainNav
{
    opacity: .8;
}
nav#mainNav a#brand
{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-size: 30px;
}

nav#mainNav ul li
{
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 20px;
    font-size: 20px;
    padding-left: 20px;
}

nav#mainNav ul li :hover
{
    background-color: rgb(168, 160, 160);
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* navbar styling ends */

/* main background section styling begins */
div#mainBgSec
{
    position: relative;
    background: rgb(0, 0, 0, .8);
    width: 100;
    margin: 20px;
    
}
/* main background section styling ends */

/* heading styling begins */
.heading
{
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    word-spacing: 4px;
}
/* heading styling ends */

/* images styling begins */
.art
{
    border: 5px solid white;
    width: 99%;
    height: 510px;
}
/* images styling ends  */